.container {
  padding: 16px;

  border: 1px solid blue;
  border-radius: 16px;
}

.header {
  margin: 0;
  margin-block-end: 16px;
  padding: 0;
}

.contributors {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  max-block-size: 186px;

  overflow-y: auto;

  &::-webkit-scrollbar {
    inline-size: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: whitesmoke;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;

    background-color: #3369f3;
  }
}
