.app {
  display: flex;
  flex-direction: column;
  gap: 24px;

  inline-size: 600px;
  margin-block-start: 20px;
  margin-inline: auto;
}

.error {
  padding: 16px;

  color: red;

  border: 1px solid red;
  border-radius: 16px;
}
